# Configuración base de Django
SECRET_KEY=tu_clave_secreta_aqui_para_desarrollo
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Base de datos (PostgreSQL)
POSTGRES_DB=fairbet
POSTGRES_USER=fairbet
POSTGRES_PASSWORD=fairbet
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Configuración de Redis (Para Celery y Channels)
REDIS_URL=redis://redis:6379/0

# Configuración de Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Variables de Negocio (Ejemplo para controles responsables)
MAX_DAILY_DEPOSIT=1000
